<h2>Este es el home del desafío</h2>
<p>A continuación puedes ver la lista de productos:</p>

<ul>
    {{#each productsList}}
    <li>Nombre:{{this.title}} <br>
        Precio: {{this.price}}</li>
    {{/each}}
</ul>