<h1>Vista de productos en tiempo real</h1>

<div>

    <input type="text" , id="title" , placeholder="Title" required>
    <input type="text" , id="description" , placeholder="Description" required>
    <input type="text" , id="code" , placeholder="Code" required>
    <input type="number" , id="price" , placeholder="Price" required>
    <input type="number" , id="stock" , placeholder="Stock" required>
    <input type="text" , id="category" , placeholder="Category" required>

    <button type="submit" id="boton">Agregar</button>

</div>

<div id="listaproducts">
</div>

<script src="/client.js"></script>
<script src="/socket.io/socket.io.js"></script>